.cardBeneficios {
    min-height: 250px;
    background-color: #263E4F;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: #FFC500;

}

.offcanvas-bod p a {
    text-decoration: none;
    color: #333;
}

span a {
    color: white;

}

.menu span a {
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 0.8rem;
}


.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;

    flex-wrap: wrap;
    margin-top: calc(-1* var(--bs-gutter-y));
    margin-right: calc(-.5* var(--bs-gutter-x));
    margin-left: calc(-.5* var(--bs-gutter-x));
}

.btn-warning:hover {
    transition: 0.5s;
    width: 160px;
    height: 40px;
    border-radius: 35px;
    color: white;
    background-color: #ffc800;
    text-align: center;
    justify-content: center;
    display: flex;
    box-shadow: -1px 1px 5px 0px white;

}

quantidade {
    font-size: 2.0rem;
}

potencia {
    font-size: 2.0rem;
}

area {
    font-size: 2.0rem;
}

paiback {
    font-size: 2.0rem;
}