.h1,
h1 {
    font-size: calc(1.375rem + 1.5vw);
    font-weight: 200;
}

.row {
    width: 100%;
}

.cardBeneficios {
    min-height: 250px;
    background-color: #263E4F;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.actived {
    border: 2px solid #FFC500;
    position: relative;
    top: -10px;
    border-radius: 5px;
    background-color: #FFC107;


}

.form-check-input:checked {
    background-color: #FFC107;
    border-color: #FFC107;
}

.actived img {
    filter: brightness(0) invert(100%);
}

* {
    animation-name: fadeIn;
    animation-duration: 400ms;
    font-weight: 300;
    transition: 500ms;
}

div {
    animation-duration: 500ms;
}

b {
    animation-duration: 1s;
}

button {
    animation-duration: 1s;
}



a {
    text-decoration: none;
    color: #FFC500;

}

.offcanvas-bod p a {
    text-decoration: none;
    color: #333;
}

span a {
    color: white;

}

.menu span a {
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 0.8rem;
}


.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;

    flex-wrap: wrap;
    margin-top: calc(-1* var(--bs-gutter-y));
    margin-right: calc(-.5* var(--bs-gutter-x));
    margin-left: calc(-.5* var(--bs-gutter-x));
}

.btn-warning:hover {
    transition: 0.5s;
    width: 160px;
    height: 40px;
    border-radius: 35px;
    color: white;
    background-color: #ffc800;
    text-align: center;
    justify-content: center;
    display: flex;
    box-shadow: -1px 1px 5px 0px white;

}

quantidade {
    font-size: 2.0rem;
}

potencia {
    font-size: 2.0rem;
}

area {
    font-size: 2.0rem;
}

.paiback {
    font-size: 2.0rem;
}


.form-range::-webkit-slider-thumb {
    width: 1rem;
    height: 1rem;
    margin-top: -.25rem;
    -webkit-appearance: none;
    appearance: none;
    background-color: #FFC107;
    border: 0;
    border-radius: 1rem;
    -webkit-transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-range::-webkit-slider-thumb:active {
    background-color: #ff572269;
}

.form-range::-webkit-slider-runnable-track {
    width: 100%;
    height: .5rem;
    color: transparent;
    cursor: pointer;
    background-color: #ff980052;
    border-color: transparent;
    border-radius: 1rem;
}


#imagefundo {
    min-height: 80vh;

}

#imagefundo div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
}

#imagefundo2 {
    min-height: 80vh;

}

#imagefundo2 div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;

}

#imagefundo3 {
    min-height: 80vh;

}

#imagefundo3 div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
}

.clientes {
    filter: grayscale(1);
}

.clientes:hover {
    filter: none;
    opacity: 1;
    cursor: pointer;
    scale: 1.2;
    border-radius: 0;
    z-index: 1000;
}